# Looking for the best Formula 1 season

For my master's project, I'm making a piece about answering the question: **What championship winning team had the best Formula 1 season?**

To answer this question, I'll be checking three definitions of best:

1. most wins in a season
1. most podiums in a season
1. how close was the performance to perfect

To do this I was working with data provided by the [Ergast Developer API](https://ergast.com/mrd/). I noticed an error in the driver-constructor pairing for the 1950 season and wanted to verify things without moving forward. I was originally going to create a table of the driver-constructor pairs for each race, and then compare it with the data I had.

Instead I went straight to the source for F1 information, [formula1.com](https://formula1.com), and scraped race information for each race from 1950 to 2018. There were some holes with how disqualifications and withdrawal were recorded (or not, in this case) as we went back in time to earlier seasons.

Now I've gone and gotten data from [statsf1.com](https://www.statsf1.com/) which is tabulated in an easy to understand manner and is more complete than the formula1.com data.

In [1]:
import pandas as pd
import numpy as np

In [2]:
race_results = pd.read_csv("../data/from_scripts/statsf1_race_results.csv")

In [5]:
race_results.head(30)

,race_id,year,round,race_name,position,prelim_order,driver,team,constructor_long,extra
0,1,1950,1,Britain,1,1,Giuseppe FARINA,Alfa Romeo,Alfa Romeo Alfa Romeo,2h 13m 23.6s ( 146.378 km/h )
1,1,1950,1,Britain,2,2,Luigi FAGIOLI,Alfa Romeo,Alfa Romeo Alfa Romeo,2h 13m 26.2s ( +02.6s )
2,1,1950,1,Britain,3,3,Reg PARNELL,Alfa Romeo,Alfa Romeo Alfa Romeo,2h 14m 15.6s ( +52.0s )
3,1,1950,1,Britain,4,4,Yves GIRAUD-CABANTOUS,Talbot Lago,Talbot Lago Talbot,
4,1,1950,1,Britain,5,5,Louis ROSIER,Talbot Lago,Talbot Lago Talbot,
5,1,1950,1,Britain,6,6,Bob GERARD,ERA,ERA ERA,
6,1,1950,1,Britain,7,7,Cuth HARRISON,ERA,ERA ERA,
7,1,1950,1,Britain,8,8,Philippe ETANCELIN,Talbot Lago,Talbot Lago Talbot,
8,1,1950,1,Britain,9,9,David HAMPSHIRE,Maserati,Maserati Maserati,
9,1,1950,1,Britain,10,10,Joe FRY,Maserati,Maserati Maserati,
10,1,1950,1,Britain,&,10,Brian SHAWE-TAYLOR,NaN,,
11,1,1950,1,Britain,11,11,Johnny CLAES,Talbot Lago,Talbot Lago Talbot,
12,1,1950,1,Britain,ab,12,Juan Manuel FANGIO,Alfa Romeo,Alfa Romeo Alfa Romeo,Oil line
13,1,1950,1,Britain,nc,13,Joe KELLY,Alta,Alta Alta,
14,1,1950,1,Britain,ab,14,Prince BIRA,Maserati,Maserati Maserati,Fuel injection
15,1,1950,1,Britain,ab,15,David MURRAY,Maserati,Maserati Maserati,Engine
16,1,1950,1,Britain,ab,16,Geoff CROSSLEY,Alta,Alta Alta,Transmission
17,1,1950,1,Britain,ab,17,Emmanuel de GRAFFENRIED,Maserati,Maserati Maserati,Connecting rod
18,1,1950,1,Britain,ab,18,Louis CHIRON,Maserati,Maserati Maserati,Clutch
19,1,1950,1,Britain,ab,19,Eugène MARTIN,Talbot Lago,Talbot Lago Talbot,Oil pressure
20,1,1950,1,Britain,ab,20,Peter WALKER,ERA,ERA ERA,
21,1,1950,1,Britain,&,20,Tony ROLT,NaN,,Gearbox
22,1,1950,1,Britain,ab,21,Leslie JOHNSON,ERA,ERA ERA,Supercharger
23,1,1950,1,Britain,f,22,Felice BONETTO,Maserati Milano,Maserati Milano Maserati,Not present
24,1,1950,1,Britain,f,23,Raymond MAYS,ERA,ERA ERA,Entry cancelled
25,2,1950,2,Monaco,1,1,Juan Manuel FANGIO,Alfa Romeo,Alfa Romeo Alfa Romeo,3h 13m 18.7s ( 98.701 km/h )
26,2,1950,2,Monaco,2,2,Alberto ASCARI,Ferrari,Ferrari Ferrari,
27,2,1950,2,Monaco,3,3,Louis CHIRON,Maserati,Maserati Maserati,
28,2,1950,2,Monaco,4,4,Raymond SOMMER,Ferrari,Ferrari Ferrari,
29,2,1950,2,Monaco,5,5,Prince BIRA,Maserati,Maserati Maserati,

Let's verify that we have the right number of races. Between 1950 and the end of the 2018 season there were 997 races.

In [4]:
race_results.race_id.max()

997

Before we get to analysis, there is some processing that needs to be done. First I want to fill in the teams.

In [6]:
def update_teams(row):
    df = race_results
    if row.position == "&":
        return race_results.team.shift(-1)
    else:
        pass

In [7]:
race_results["team2"] = race_results.apply(update_teams, axis=1)

In [8]:
race_results.head(30)

,race_id,year,round,race_name,position,prelim_order,driver,team,constructor_long,extra,team2
0,1,1950,1,Britain,1,1,Giuseppe FARINA,Alfa Romeo,Alfa Romeo Alfa Romeo,2h 13m 23.6s ( 146.378 km/h ),None
1,1,1950,1,Britain,2,2,Luigi FAGIOLI,Alfa Romeo,Alfa Romeo Alfa Romeo,2h 13m 26.2s ( +02.6s ),None
2,1,1950,1,Britain,3,3,Reg PARNELL,Alfa Romeo,Alfa Romeo Alfa Romeo,2h 14m 15.6s ( +52.0s ),None
3,1,1950,1,Britain,4,4,Yves GIRAUD-CABANTOUS,Talbot Lago,Talbot Lago Talbot,,None
4,1,1950,1,Britain,5,5,Louis ROSIER,Talbot Lago,Talbot Lago Talbot,,None
5,1,1950,1,Britain,6,6,Bob GERARD,ERA,ERA ERA,,None
6,1,1950,1,Britain,7,7,Cuth HARRISON,ERA,ERA ERA,,None
7,1,1950,1,Britain,8,8,Philippe ETANCELIN,Talbot Lago,Talbot Lago Talbot,,None
8,1,1950,1,Britain,9,9,David HAMPSHIRE,Maserati,Maserati Maserati,,None
9,1,1950,1,Britain,10,10,Joe FRY,Maserati,Maserati Maserati,,None
10,1,1950,1,Britain,&,10,Brian SHAWE-TAYLOR,NaN,,,"[nan, Alfa Romeo, Alfa Romeo, Alfa Romeo, Talb..."
11,1,1950,1,Britain,11,11,Johnny CLAES,Talbot Lago,Talbot Lago Talbot,,None
12,1,1950,1,Britain,ab,12,Juan Manuel FANGIO,Alfa Romeo,Alfa Romeo Alfa Romeo,Oil line,None
13,1,1950,1,Britain,nc,13,Joe KELLY,Alta,Alta Alta,,None
14,1,1950,1,Britain,ab,14,Prince BIRA,Maserati,Maserati Maserati,Fuel injection,None
15,1,1950,1,Britain,ab,15,David MURRAY,Maserati,Maserati Maserati,Engine,None
16,1,1950,1,Britain,ab,16,Geoff CROSSLEY,Alta,Alta Alta,Transmission,None
17,1,1950,1,Britain,ab,17,Emmanuel de GRAFFENRIED,Maserati,Maserati Maserati,Connecting rod,None
18,1,1950,1,Britain,ab,18,Louis CHIRON,Maserati,Maserati Maserati,Clutch,None
19,1,1950,1,Britain,ab,19,Eugène MARTIN,Talbot Lago,Talbot Lago Talbot,Oil pressure,None
20,1,1950,1,Britain,ab,20,Peter WALKER,ERA,ERA ERA,,None
21,1,1950,1,Britain,&,20,Tony ROLT,NaN,,Gearbox,"[nan, Alfa Romeo, Alfa Romeo, Alfa Romeo, Talb..."
22,1,1950,1,Britain,ab,21,Leslie JOHNSON,ERA,ERA ERA,Supercharger,None
23,1,1950,1,Britain,f,22,Felice BONETTO,Maserati Milano,Maserati Milano Maserati,Not present,None
24,1,1950,1,Britain,f,23,Raymond MAYS,ERA,ERA ERA,Entry cancelled,None
25,2,1950,2,Monaco,1,1,Juan Manuel FANGIO,Alfa Romeo,Alfa Romeo Alfa Romeo,3h 13m 18.7s ( 98.701 km/h ),None
26,2,1950,2,Monaco,2,2,Alberto ASCARI,Ferrari,Ferrari Ferrari,,None
27,2,1950,2,Monaco,3,3,Louis CHIRON,Maserati,Maserati Maserati,,None
28,2,1950,2,Monaco,4,4,Raymond SOMMER,Ferrari,Ferrari Ferrari,,None
29,2,1950,2,Monaco,5,5,Prince BIRA,Maserati,Maserati Maserati,,None